/* .header {
    color: rgb(0, 153, 255);
} */
/* Cleaning the Page Css */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
  /* 3. Add accessible line-height */
    line-height: 1.5;
  /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
} 

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}


/* Styling to see the page layout */
/* .sidebar, */
.header,
.form-container,
.footer {
    /* border: 1px solid red; */
    padding: 1em 2em;
    /* margin: 1em; */
}

/* Main Container Styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 26, 26);
}

@font-face {
    font-family: cool-font;
    src: url('./Norse-Bold.otf');
}

.container {
    display: flex;
    height: 100vh;
    width: 90%;
    /* width: auto; */
}

.sidebar {
    flex: 1;
    background:
    url("./images/halie-west-25xggax4bSA-unsplash.jpg") center / cover no-repeat;
    /* background-size: cover;
    background-repeat: no-repeat; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: auto;
    width: 8rem;
}

.logo-text {
    display: flex;
    align-items: center;
    font-size: 5rem;
    color: #fff;
    justify-content: center;
    /* opacity: .6; */
    background-color: rgba(0,0,0, 0.4);
    width: 100%;
}

.content {
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    font-family: sans-serif;
}

/* Content Styling  */
.header {
    flex: 1;
    display: flex;
    align-items: end;
    font-size: 1rem;
    font-weight: 600;
}

.form-container {
    flex: 1;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 2px -2px rgba(119, 119, 119, 0.483);
}

.footer {
    flex: 1;
}

.form {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

input {
    border: 1px solid #E5E7EB;
}

.form-field {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex-grow: 1;
    padding: .5em;
}

.create-button {
    background-color: #596D48;
    color: #fff;
    padding: .5rem 2rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #596D48;
}


