/* .header {
    color: rgb(0, 153, 255);
} */
/* Cleaning the Page Css */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
  /* 3. Add accessible line-height */
    line-height: 1.5;
  /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
} 

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}


/* Styling to see the page layout */
.container,
.sidebar,
.content,
.header,
.form-container,
.footer {
    border: 1px solid red;
    padding: 0.5em;
    /* margin: 1em; */
}
p {
    text-align: end;
}

/* Main Container Styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    height: 100vh;
    width: 80%;
    /* width: auto; */
}

.sidebar {
    flex: 1;
}

.content {
    flex: 2;
    display: flex;
    flex-direction: column;
}

/* Content Styling  */
.header {
    flex: 1;
}

.form-container {
    flex: 1;
}

.footer {
    flex: 1;
}
